/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/* Remove padding and margin */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Set the document up */
body {
  font: 62.5%/1.5 "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
  background: no-repeat center url("@/assets/images/keyboard_lg.jpg");
  color: #C3EFA1;
  text-align: center;
  line-height: 1.7rem;
}

#wrapper {
  width: 980px;
  text-align: center;
  margin: 0 auto;
  background-color: #ffffff;
}

/* Handling typography */
h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
  padding: 1rem;
}

.l-box-lrg {
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
  text-align: center;
}
